:root {
  --background: oklch(0.9940 0 0);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2178 0 0);
  --primary: oklch(0.6028 0.2177 257.4239);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9238 0.0093 232.3718);
  --secondary-foreground: oklch(0.3564 0.0391 248.9745);
  --muted: oklch(0.9605 0.0046 258.3248);
  --muted-foreground: oklch(0.6299 0.0152 202.3668);
  --accent: oklch(0.9439 0.0059 239.8222);
  --accent-foreground: oklch(0.2178 0 0);
  --destructive: oklch(0.6307 0.1940 29.4415);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9028 0.0075 260.7316);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.6028 0.2177 257.4239);
  --chart-1: oklch(0.6028 0.2177 257.4239);
  --chart-2: oklch(0.6460 0.1423 253.9200);
  --chart-3: oklch(0.8201 0.0856 237.0767);
  --chart-4: oklch(0.8898 0.0501 227.7197);
  --chart-5: oklch(0.9602 0.0244 206.1953);
  --sidebar: oklch(0.9670 0.0029 264.5419);
  --sidebar-foreground: oklch(0.3564 0.0391 248.9745);
  --sidebar-primary: oklch(0.6028 0.2177 257.4239);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9439 0.0059 239.8222);
  --sidebar-accent-foreground: oklch(0.2178 0 0);
  --sidebar-border: oklch(0.9028 0.0075 260.7316);
  --sidebar-ring: oklch(0.6028 0.2177 257.4239);
  --font-sans: "Inter", sans-serif;
  --font-serif: "PT Serif", serif;
  --font-mono: "Roboto Mono", monospace;
  --radius: 0.375rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.08;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.04);
  --shadow-xs: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.04);
  --shadow-sm: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.08), 0rem 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.08), 0rem 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow-md: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.08), 0rem 2px 4px -1px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.08), 0rem 4px 6px -1px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.08), 0rem 8px 10px -1px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.20);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1822 0 0);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.2350 0 0);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.2350 0 0);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.6028 0.2177 257.4239);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3970 0.0444 249.0002);
  --secondary-foreground: oklch(0.9067 0 0);
  --muted: oklch(0.3351 0.0331 260.9120);
  --muted-foreground: oklch(0.7788 0.0145 248.0137);
  --accent: oklch(0.4091 0 0);
  --accent-foreground: oklch(0.9067 0 0);
  --destructive: oklch(0.6307 0.1940 29.4415);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3950 0.0286 258.3628);
  --input: oklch(0.2350 0 0);
  --ring: oklch(0.6028 0.2177 257.4239);
  --chart-1: oklch(0.6028 0.2177 257.4239);
  --chart-2: oklch(0.6460 0.1423 253.9200);
  --chart-3: oklch(0.8201 0.0856 237.0767);
  --chart-4: oklch(0.8898 0.0501 227.7197);
  --chart-5: oklch(0.9602 0.0244 206.1953);
  --sidebar: oklch(0.2178 0 0);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.6028 0.2177 257.4239);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4091 0 0);
  --sidebar-accent-foreground: oklch(0.9067 0 0);
  --sidebar-border: oklch(0.3950 0.0286 258.3628);
  --sidebar-ring: oklch(0.6028 0.2177 257.4239);
  --font-sans: "Inter", sans-serif;
  --font-serif: "PT Serif", serif;
  --font-mono: "Roboto Mono", monospace;
  --radius: 0.375rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.25;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.13);
  --shadow-xs: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.13);
  --shadow-sm: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.25), 0rem 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.25), 0rem 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow-md: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.25), 0rem 2px 4px -1px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.25), 0rem 4px 6px -1px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.25), 0rem 8px 10px -1px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0rem 0.25rem 0.75rem 0rem hsl(0 0% 0% / 0.63);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}